/*
Definir las variables de color
Estas variables se pueden utilizar en cualquier parte del documento
usando la notación var(--nombre-variable)
*/

:root {
    --color-primario: #0198e9;
    --color-sombra: #e5e5e5;
    --color-terciario: #33333340;
}

/* El asterisco es un selector que afecta a todas las etiquetas y estructuras de nuestras páginas
    box-sizing: border-box; indica que el tamaño de los elementos incluya el padding y el borde
    de esta forma el tamaño total del elemento no cambia al agregar padding o borde
*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* 100% del alto de la pantalla*/
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 5px 10px 4px var(--color-sombra);
    max-height: 60px;/*le aumente la altura del header*/
}

header p {
    display: none;
    font-weight: bold;
}

header nav {
    display: flex;
    background-color: var(--color-primario);
    color: white;
    padding: 15px;/*aumente el padding profe*/
}

header ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;/*aumente el espacio entre los elementoss*/
    list-style-type: none;
    margin: 0;
    padding: 0px;
    flex-grow: 1;
}

header li {
    padding: 5px;/*aumente el padding*/
}

header li a {
    color: white;
    text-decoration: none;
    padding: 15px;/*aumente el padding*/
}

header li:hover {
    background-color: #f1f1f1;
    border-radius: 15px;/*aumente el radio de bordes*/
}

header li:hover a {
    color: black;
}

aside {
    position: absolute;
    top: 60px;/*se ajusto un poco el top para q no se interponga con su header*/
    bottom: 52px;
    left: 0;
    width: 200px;
    background-color: rgb(228, 223, 223);
    /*Sombras*/
    box-shadow: 5px 0 15px 4px var(--color-sombra);
    z-index: 10;
    /*Animación*/
    transition: ease-in-out 1s;
    /*Separacion de la parte izquierda*/
    padding: 0 10px;/*aumente padding*/
    overflow: none;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside li {
    padding: 10px;/*aumente el padding*/
    background-color: rgb(241, 234, 234);
    margin-top: 5px;/*aumente el margen*/
    border-radius: 5px;/*aumente el radio del borde*/
}

aside li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

aside li a {
    text-decoration: none;
    color: black;
}

main {
    /*Indica que se ubica en un lugar fijo de la pantalla*/
    position: absolute;
    top: 60px;/*ajuste el top para evitar que se interponga con el  header*/
    bottom: 50px;
    left: 220px;/*aumente el espacio del aside*/
    right: 0;
    overflow: auto;
    padding: 0 35px;
    z-index: 1;
    background-color: white;
    overflow: auto;
}

main h1 {
    color: var(--color-primario);
    border-bottom: 2px solid var(--color-primario);/*aumente el grozor */
    font-size: 40px;/*aumente tamano de la fuente*/
}

main section {
    margin-top: 30px;/*aumente el msrgen*/
    background-color: #f1f1f1;
    padding: 15px;/*aumente el padding*/
    border-radius: 5px;/*aumente el radio*/
    box-shadow: 0 5px 10px 4px #33333340;
}

main section form {
    display: flex;
    flex-direction: column;
}

/*Esta regla la vamos a mejorar con selectores específicos*/
main section form input {
    padding: 12px;/*aumente el padding*/
    border-radius: 5px;
    border: 2px solid var(--color-primario);
}

main div {
    display: flex;
    justify-content: space-between;
}

/*Esta regla la vamos a mejorar con selectores específicos*/
main div section {
    width: 100%;
}

/*Esta regla no es para una etiqueta nativa. Es una regla que cada programador decide como emplearla
 En este caso para mostrar un fondo oscuro cuando se muestra el menú lateral(hamburguesa)
*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f1f1f1;
    text-align: center;
    border-top: 2px solid var(--color-primario);
    z-index: 5;
    box-shadow: 0 -5px 50px 4px var(--color-sombra);
}

/* Estilo para el menú hamburguesa, visible solo cuando la pantalla es pequeña */
.hamburger-menu {
    display: none;
    /*Mostrar una mano al pasar el cursor sobre el elemento*/
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: white;
}

/*
 Estas reglas que llevan el selector @media screen and (max-width: 767px) son reglas que se aplican
    solo cuando el ancho de la pantalla es menor a 768px

    Esto se usa para lograr adaptabilidad en el diseño de la página
*/

/* Ocultar el menú hamburguesa en pantallas grandes */
@media screen and (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }
}

/* Mostrar el menú hamburguesa y ocultar el aside en pantallas pequeñas */
@media screen and (max-width: 767px) {
    .hamburger-menu {
        display: block;
    }

    header nav ul {
        display: none;
    }

    header p {
        flex-grow: 1;
        display: block;
    }

    aside {
        display: none;
        top: 0;
    }

    header {
        color: black;
    }

    main {
        left: 0;
        padding: 20px;
    }
}